# Logs
logs
*.log
npm-debug.log*

# Runtime data
.next/
out/

# Dependency directories
node_modules/

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

!.env.example
